/* login.css */

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf0f1;
}

h2 {
  font-size: 30px;
  color: #2c3e50;
  margin-bottom: 20px;
  font-family: "CodeNewRoman Nerd Font";
}

#loginForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm label {
  font-family: "CodeNewRoman Nerd Font";
  width: 100%;
  text-align: left;
  font-size: 22px;
  color: #333;
  margin-top: 10px;
}

#loginForm button {
  margin-top: 20px;
  background-color: #27ae60;
  color: #fff;
}

#loginMessage {
  font-family: "FreeMono";
  color: red;
  margin-top: 10px;
}
