/* style.css */
@font-face {
  font-family: "Nerd Font";
  src: url("../assets/fonts/AnonymiceProNerdFontPropo-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manjari";
  src: url("../assets/fonts/Manjari-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif SC";
  src: url("../assets/fonts/NotoSerifSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
